{% extends "index.html" %}
{% block content %}
<div class="row">
    <!-- left -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow" style="max-height: 550px">
            <form action="/{{ file.name }}/config" method="post" enctype="multipart/form-data">
                <div class="form-row pl-4 pr-4 mt-4">
                    <div class="form-group col-md-6">
                        {{ form.sheet_name.label() }}
                        {{ form.sheet_name(class="form-control", placeholder="Innervagg") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.sheet_price_name.label }}
                        {{ form.sheet_price_name(class="form-control", placeholder="Model") }}
                    </div>
                </div>
                <div class="form-row  pl-4 pr-4 mt-2">
                    <div class="form-group col-md-6">
                        {{ form.row_number.label() }}
                        {{ form.row_number(class="form-control", selected="2") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.separate_symbol.label() }}
                        {{ form.separate_symbol(class="form-control", placeholder=";") }}
                    </div>
                </div>
                <div class="form-row  pl-4 pr-4 mb-4">
                    {{ form.submit(class="btn btn-lg btn-block btn-secondary") }}
                </div>
            </form>
        </div>
    </div>
    <!-- right -->
    <div class="col-xl-8 col-md-8 mb-4">
        <div class="card border-0 shadow">
            <div class="table-wrapper" style="overflow: scroll; max-height: 550px">

                <table class="table">
                    <tbody>
                    {% for row in table.table %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}