{% extends "index.html" %}
{% block content %}
<div class="row">
    <!-- left -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow" style="max-height: 550px">
            <form action="/{{ file.name }}/download" method="post" enctype="multipart/form-data">
                <div class="container pl-4 pr-4 mt-4">
                    <h3>Status: <span class="badge badge-success">Success</span></h3>
                </div>
                <div class="container pl-4 pr-4 mt-4 mb-4">
                    {{ form.submit(class="btn btn-lg btn-block btn-secondary") }}
                </div>
            </form>
        </div>
    </div>
    <!-- right -->
    <div class="col-xl-8 col-md-8 mb-4">
        <div class="card border-0 shadow">
            <div class="table-wrapper" style="overflow: scroll; max-height: 600px">

                <table class="table">
                    <tbody>
                    {% for row in table.table %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}